@namespace laser 'http://www.heller-web.net/lasersvg';
@namespace xlink 'http://www.w3.org/1999/xlink';

svg {
	background-color: #F5F6F8;
}

path, rect, circle {
	stroke-width: 1px;
	stroke: #384C6C;
	stroke-linecap: square;
	fill: none;
}

.selected {
	stroke: #324461;
	stroke-width: 0.5px; 
	outline: 1px solid #A9CE38;
}

.pathHighlight-pathTemplate {
	stroke: magenta;
}

[laser|joint] {
	stroke: #A9CE38;
	//stroke-dasharray: 5,10,5;
	//fill: none;
}


